.header {
  position: sticky;
  top: 0;
  z-index: 10;
  margin-top: 56px;
  padding: 0.5rem 0;
  background-color: var(--header-bg);

  @media (max-width: 991.98px) {
    margin-top: 2rem;
  }

  .navbar-brand {
    img {
      margin-right: 0.75rem;
    }
    span {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 30px;
    }
  }

  .navbar-nav li {
    font-size: 18px;
    line-height: 50px;

    color: var(--text-1);
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
    transition: opacity 0.3s ease;
  }
  .navbar-nav li:not(:last-child) {
    margin-right: 40px;
  }
  .navbar-nav .active {
    font-weight: 500;
    opacity: 1;
  }
}
