:root {
  --header-bg: #ffffffe7;

  --select-bg: #458ff6;

  --scroll-thumb: #458ff6;
  --scroll-track: #7d7987;

  --text-1: #1f1534;
  --text-1-hover: #458ff6;
  --text-2: #000;
  --text-3: #7d7987;

  --btn-1-color: #fff;
  --btn-1-bg: #458ff6;
  --btn-1-bg-hover: #1472f4;

  --btn-2-color: #458ff6;
  --btn-2-border: #458ff6;
  --btn-2-bg: #fff0;
  --btn-2-color-hover: #fff;
  --btn-2-bg-hover: #1472f4;

  --service-bg: #fff;
  --service-shadow: rgba(229, 233, 246, 0.4);

  --testimonials-heading: #fff;
  --testimonials-sub: rgba(255, 255, 255, 0.9);
  --testimonials-bg: linear-gradient(191.49deg, #67c3f3 9.05%, #5a98f2 76.74%);
  --testimonials-border: #fff;

  --article-bg: #fff;
  --article-shadow: rgba(229, 233, 246, 0.4);

  --link: #458ff6;
  --link-hover: #1f1534;

  --footer-text: #fff;
  --footer-bg: linear-gradient(180.92deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  --footer-text-hover: #d1d1d1;
}
